@import '../../styles/modules/_variables.pcss';

.footer {
  padding-top: 20px;
  padding-bottom: 20px;

  .footer-copyright {
    color: $colorTxGreyBase;
    text-align: center;
    font-size: 1.4rem;
  }
}
