@import './_mixins.pcss';

@mixin make-font 'Roboto', ../../fonts/RobotoLight/RobotoLight, 300;
@mixin make-font 'Roboto', ../../fonts/RobotoRegular/RobotoRegular;
@mixin make-font 'Roboto', ../../fonts/RobotoBold/RobotoBold, bold;

@mixin make-icon-font 'Icons', ../../fonts/Icons/Icons;
